<DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Yiwei 網頁</title>
</head>

<body>
    {% load static%}
    <img src="{% static "image/00.jpg" %}"  >
    <h1> 歡迎光臨<h1>
    <font color="red"><h2>  現在時刻:{{now}}    </h2></font>
    <font size="25"><h4>今日推薦</h4></font>
    <h3>
    <u1>
    {% for food in foods %}
        <li>菜名:{{food.name}}</li>

        <li>價格:{{food.price}}</li>

        <li>說明:{{food.comment}}</li>

        <li>辣不辣:{% if food.is_spicy %}
            真
            {% else %}       
            假
        {% endif %}</li>

    {% endfor %}

    </u1>

    </h3>

</body>
</html>










</body>
</html>